doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link.js-favicon(rel='icon' href='/images/favicon.png')
  // <link rel="stylesheet" href="./css/fontawesome.css">
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css' integrity='sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==' crossorigin='anonymous' referrerpolicy='no-referrer')
  link(rel='stylesheet' href='/css/style.css')
  title Vivid Physics
body
  include _header
  h1#chapTitle 
    | !{videos[0].book} / !{chapterName}
  main
    each chapter in chapters
      .videoEx
        .vhead
          p.vtitle !{chapter.title}
        .thumbs
            each lec in videos
              if lec.questionType == chapter.type
                a.vlink(href=`/book/${lec.book}/${lec.chapter}/${lec.questionType}/${lec.questionNo}`)
                  img(src=`${lec.youtubeLink.replace('www','img').replace('watch?v=','vi/')+'/hqdefault.jpg'}`)
  include _footer
script(src='/js/script.js')
